__pycache__/
*.py[cod]
.DS_Store
.venv/
third_party/*
!third_party/DreamCD/
!third_party/TISynth/
!third_party/TISynth/**
third_party/DreamCD/.git/
third_party/DreamCD/example/
third_party/DreamCD/figs/
third_party/DreamCD/preview/
third_party/DreamCD/ldm/modules/image_degradation/utils/
third_party/DreamCD/**/__pycache__/
third_party/DreamCD/**/*.py[cod]
third_party/TISynth/.git/
third_party/TISynth/.DS_Store
third_party/TISynth/**/__pycache__/
third_party/TISynth/**/*.py[cod]
checkpoints/
outputs/
*.ckpt
*.pt
*.pth
*.safetensors
